.overlay
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	background-color alpha(color-blue-zodiac, 50%)
	display flex
	align-items center
	justify-content center
	z-index 1000000

	.modal
		display flex
		flex-direction column
		padding spacing-large
		border-radius border-radius-medium
		background-color color-white
		z-index 10

		&-header
			display flex
			align-items center
			margin-bottom spacing-large

		&-title
			flex 1 1 auto
			margin 0
			font-size font-size-x-large
			line-height normal

		&-body
			display flex
			
		&-footer
			text-align center
			display flex
			justify-content center
			margin-top spacing-large

		&-close
			display flex
			cursor pointer

			&:hover
			&:focus
				opacity .6
			&:active
				opacity .8

			svg
				width 24px
				height 24px
				fill color-blue-ghost
				transition timing-1 opacity linear

				path
					fill color-blue-aluminium
					transition timing-1 fill linear

				&:hover
					path
						fill darken(color-blue-aluminium, 20%)
